{% extends 'base.html' %}
{% block content %}
<section id="about" class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>K2S Academy is a leading provider of educational services, dedicated to empowering individuals through knowledge and learning. We offer a wide range of courses and programs designed to enhance skills, foster personal growth, and support career development.</p>
                <p>At K2S Academy, we believe that education is the key to unlocking one's potential. Our experienced instructors and comprehensive curriculum ensure a quality learning experience for our students. Whether you are a beginner exploring a new field or a professional seeking to upgrade your skills, we have the right resources to help you succeed.</p>
            </div>
            <div class="col-md-6">
                <img src="/static/AboutUs.jpg" alt="About Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
{% endblock content %}
