{% load i18n %}

{% autoescape off %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-pzjw8+uaZ4zttbaEfW6GzS3P3ZBXQn2+XhxKlhk5x4Qx5qXe1P8rZj3M5bQN6DwS"
        crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Password Reset</h1>
        <p class="text-center">Please click the link below to reset your password:</p>
        <div class="text-center">
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                class="btn btn-primary">Reset Password</a>
        </div>
        <p class="text-center mt-3">
            If you didn't request a password reset, please ignore this email.
        </p>
    </div>
</body>
</html>
{% endautoescape %}
