{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header">Password Reset Email Sent</div>
        <div class="card-body">
          <p>An email with password reset instructions has been sent to your email address. Please check your inbox and follow the instructions to reset your password.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
